*{margin: 0px; padding: 0px; box-sizing: border-box;}
body, html {height:100%;min-height:100%;font-family:trebuchet MS, sans-serif;padding:0;margin:0;position:relative;background:#ddd;}
a {font-family: trebuchet MS;font-size: 14px;line-height: 1.7;color:#17202A;margin: 0px;transition: all 0.4s;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;}
a:focus {outline: none !important;}
a:hover {text-decoration: none;color: #a64bf4;}
h1,h2,h3,h4,h5,h6 {margin: 0px;}
p {font-family:trebuchet MS;font-size:14px;line-height:1.7;color:#666666;margin:0px;}
ul, li {margin: 0px;list-style-type: none;}
input{outline: none;border:none;}
select{outline: none;border:none;}
textarea {outline: none;border:none;}
textarea:focus, input:focus {border-color:transparent !important;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder {color:transparent; }
input:focus::-moz-placeholder {color:transparent; }
input:focus:-ms-input-placeholder {color:transparent; }
textarea:focus::-webkit-input-placeholder {color:transparent; }
textarea:focus:-moz-placeholder {color:transparent; }
textarea:focus::-moz-placeholder {color:transparent; }
textarea:focus:-ms-input-placeholder {color:transparent; }
input::-webkit-input-placeholder {color: #adadad;}
input:-moz-placeholder {color:#adadad;}
input::-moz-placeholder {color:#adadad;}
input:-ms-input-placeholder {color:#adadad;}
textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}
button {outline: none !important;border: none;background: transparent;}
button:hover {cursor: pointer;}
iframe {border: none !important;}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1{font-family:trebuchet MS;font-size:14px;line-height:1.5;color:#666666;}
.txt2{font-family:trebuchet MS;font-size:14px;line-height:1.5;color:#333333;text-transform: uppercase;}
.bg1{background-color:#3b5998}
.bg2{background-color:#1da1f2}
.bg3{background-color:#ea4335}
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.ahref-link{color:white;}
footer{background:white;}
.error-label{display:none;width:100%;background:#ed292a;padding:7px;color:white;opacity:0.9;font-weight:normal;}
.limiter {width:100%;margin:0 auto;min-height:90%;background:#ddd;}
.container-login100{width:100%;height:55vh;display:-webkit-box;display:-webkit-flex;display:-moz-box;display: -ms-flexbox;display: flex;
flex-wrap: wrap;justify-content:center;align-items:center;padding:15px;background-repeat: no-repeat;background-position: center;background-size: cover;}

.wrap-login100{width:450px;background:#fff;border-radius:10px;overflow: hidden;box-shadow: inset 0 0 20px #7D3C98;opacity:0.9;}
#resp_n{display:none;width:100%;background:#ed292a;padding:7px;color:white;opacity:0.9;font-weight:normal;font-size:14px;text-align:center;border-radius:3px;}
#resp{display:none;width:100%;background:#2b7de1;padding:7px;color:white;opacity:0.9;font-weight:normal;font-size:14px;text-align:center;border-radius:3px;border:1px solid #0BA6F6;}
.wrap-signup{width:700px;background:#fff;border-radius:10px;overflow:hidden;border:10px solid white;box-shadow:0 0 5px #17202A;z-index:1000;}
.login100-form {width:100%;}
.times-close{width:100%;}
.login100-form-title{display:block;font-family:trebuchet MS;font-size:30px;color:#333333;line-height: 1.2;text-align:center;}
.imglogox{width:150px;height:120px;position:absolute;margin-left:-70px;margin-top:-70px;}
.wrap-input100 {width:100%;position:relative;border-bottom:2px solid #d9d9d9;}
.label-input100 {font-family:trebuchet MS;font-size:15px;color:#383838;line-height:1.5;padding-left:7px;}
.input100 {font-family:trebuchet MS;font-size:14px;color:#333333;line-height: 1.2;display: block;
  width: 100%;height:55px;background:transparent;padding:0 7px 0 43px;}
.focus-input100 {position:absolute;display:block;width:100%;height:100%;top:0;left:0;pointer-events: none;}
.focus-input100::after{content:attr(data-symbol);font-family:Material-Design-Iconic-Font;
color:#17202A;font-size: 22px;display:-webkit-box;display:-webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;align-items: center;justify-content: center;
  position: absolute;height: calc(100% - 20px);bottom: 0;left: 0;padding-left: 13px;padding-top: 3px;}
.focus-input100::before {content: "";display: block;position: absolute;bottom: -2px;left: 0;width: 0;height: 2px;background:#17202A;
  -webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;
  transition: all 0.4s;}
.input100:focus + .focus-input100::before {width:100%;}
.has-val.input100 + .focus-input100::before {width:100%}
.input100:focus + .focus-input100::after {color:#6E2C00;}
.has-val.input100 + .focus-input100::after {color:#6E2C00;}
.flex-cont{display:flex;}
.container-login100-form-btn {display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content: center;}
.wrap-login100-form-btn {width:100%;display: block;position: relative;z-index:1;border-radius:0px;overflow:hidden;margin:0 auto;
box-shadow:0 0 5px #787878;}
.login100-form-bgbtn {position:absolute;z-index:-1;width:300%;height:100%;background:#E74C3C;
  background:-webkit-linear-gradient(right, #0174DF, #58ACFA, #0174DF, #58ACFA);
  background:-o-linear-gradient(right, #0174DF, #fc00ff, #0174DF, #fc00ff);
  background:-moz-linear-gradient(right, #0174DF, #58ACFA, #0174DF, #58ACFA);
  background:linear-gradient(right, #0174DF, #58ACFA, #0174DF, #58ACFA);
  top: 0;left: -100%;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}
.login100-form-btn {font-family: trebuchet MS;font-size: 16px;color: #fff;line-height: 1.2;text-transform: uppercase;
display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display: flex;justify-content:center;align-items:center;padding:0 20px;width: 100%;height: 50px;}
.wrap-login100-form-btn:hover .login100-form-bgbtn {left:0;}
.validate-input {position: relative;}
.alert-validate::before {content:attr(data-validate);position:absolute;max-width:70%;background-color:#ed292a;color:white;border:1px solid #c80000;border-radius:2px;padding:4px 25px 4px 10px;bottom:calc((100% - 20px) / 2);-webkit-transform: translateY(50%);-moz-transform: translateY(50%);
  -ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);right: 2px;pointer-events: none;
font-family: trebuchet MS;font-size: 13px;line-height: 1.4;text-align: left;visibility: hidden;opacity: 0;-webkit-transition: opacity 0.4s;-o-transition: opacity 0.4s;-moz-transition: opacity 0.4s;transition: opacity 0.4s;}
.alert-validate::after {content: "\f06a";font-family: FontAwesome;display: block;position: absolute;color:#ed292a;font-size:16px;bottom: calc((100% - 20px) / 2);-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);right: 8px;}
.alert-validate:hover:before {visibility: visible;opacity: 1}
.login100-social-item {font-size: 25px;color:#fff;display:-webkit-box;display:-webkit-flex;display:-moz-box;display: -ms-flexbox;
  display: flex;justify-content: center;align-items: center;width: 50px;height:50px;border-radius:50%;margin:5px;}
.login100-social-item:hover{color:#fff;background-color:#333333;}
.imglogoxx{width:200px;height:150px;position:fixed;left:3%;top:1%;z-index:0.3;}
.error-label3{font-size:14px;font-weight:normal;display:block;position:fixed;width:40%;background:#117864;height:auto;min-height:200px;
  left:30%;top:20%;z-index:10000;border:5px solid #117864;border-radius:5px;box-shadow:0 0 5px #117864;display:;padding:5px;display:none;z-index:}
.error-p-title{color:white;}
.repon{min-height:150px;box-shadow:inset 0 0 3px #787878;width:100%;padding:5px;border-radius:5px;background:white;}
.btnss{border-radius:2px;margin-top:5px;}
.error-label2{font-size:14px;font-weight:normal;display:block;width:40%;background:#ed292a;height:auto;padding:5px;margin-top:40px;
  color:white;width:100%;min-height:40px;}
@media (max-width: 992px) {
  .alert-validate::before {visibility:visible;opacity:1;}
}
@media (max-width:576px) {
.imglogoxx{display:block;top:20%;left:25%;}
.error-label3{width:95%;left:2%;}
.wrap-login100,.wrap-signup {padding-left:10px;padding-right:10px;box-shadow:0px 0px 0px #ddd;}
}
@media (max-width: 576px) {
.flex-cont{display:block;}
.error-label3{width:100%;}
.footer-h{margin-top:150px;box-shadow:0px 0px 0px #ccc;}
.wrap-login100,.wrap-signup {padding-left:10px;padding-right:10px;box-shadow:0px 0px 0px #ddd;}
}

