*{margin:0px;padding:0px;box-sizing:border-box;}
body, html {height:100%;min-height:100%;font-family:trebuchet MS, sans-serif;padding:0;margin:0;position:relative;background:#ddd;}
a {font-family:trebuchet MS;font-size: 14px;line-height: 1.7;color: #666666;margin: 0px;transition: all 0.4s;-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;}
a:focus {outline:none !important;}
a:hover {text-decoration: none;color: #a64bf4;}
h1,h2,h3,h4,h5,h6 {margin: 0px;}
p {font-family:trebuchet MS;font-size:14px;line-height:1.7;color:#666666;margin:0px;}
ul, li {margin: 0px;list-style-type: none;}
input{outline: none;border:none;}
select{outline: none;border:none;}
textarea {outline: none;border:none;}
textarea:focus, input:focus {border-color:transparent !important;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus:-ms-input-placeholder {color:transparent;}
textarea:focus::-webkit-input-placeholder {color:transparent; }
textarea:focus:-moz-placeholder{color:transparent;}
textarea:focus::-moz-placeholder {color:transparent;}
textarea:focus:-ms-input-placeholder {color:transparent;}
input::-webkit-input-placeholder {color:#adadad;}
input:-moz-placeholder {color:#adadad;}
input::-moz-placeholder {color:#adadad;}
input:-ms-input-placeholder {color:#adadad;}
textarea::-webkit-input-placeholder { color:#adadad;}
textarea:-moz-placeholder {color:#adadad;}
textarea::-moz-placeholder {color:#adadad;}
textarea:-ms-input-placeholder {color:#adadad;}
button {outline: none !important;border:none;background:transparent;}
button:hover {cursor: pointer;}
iframe {border: none !important;}
	/*top* //////////////////////////////////  */
.drop-down-li{position:absolute;width:400px;height:400px;background:#ddd;box-shadow:0 0 1px #383838;right:2%;z-index:10000000;padding:5px;margin-bottom:-35px;border:;display:none;border-radius:10px;}
.drop-down-li::before{content:'';display:inline-block;border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #1F2F38;position:absolute;top:0%;left:73.5%;margin-top:-3px;}
.content-li-header{background:;padding:4px;border-bottom:2px solid #1F2F38;}
.content-li-body{}
.accountinfo{font-weight:bold;background:black;color:white;padding:3px;}
.content-li-header li{background:#ddd;}
.t-search{width:100%;}
.td-search td{padding:3px;}
.td-search tr td:nth-child(2){background:#ccc;}
.td-search tr:hover{background:#ddd;}
.searchBtn-li{display:none;}
.suggestion-content{width:100%;height:auto;padding:5px;display:none;}
.searchForm,.collapsed{width:50%;left:22%;top:10%;position:absolute;background-color:white;
  padding:20px;float:left;height:50px;border-radius:10px 10px 0px 0px;z-index:10000;}
.expanded{height:400px;}
.searchTerm:focus {width:90%;background-color:#fff;color:#000;opacity:1;-webkit-box-shadow:1px 1px 9px rgba(0,0,0,0.85);-moz-box-shadow:1px 1px 9px rgba(0,0,0,0.85);box-shadow:1px 1px 9px rgba(0,0,0,0.85);font-weight:800;}
.searchTerm {padding:5px 10px;background:#ccc;color:#444;border: 0;width:90%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px 0px 0px 5px;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.65);-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.65);box-shadow:0 0 5px #787878;outline: 0;margin-top:-6px;text-align:center;border:1px solid #787878;}
.searchBtn{border:3px solid #2b7da1;padding:5px 10px;width:10%;position:absolute;cursor:pointer;font-weight:900;font-size:12px;background:#2b7da1;color:#fff;-webkit-border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;
border-radius:0px 5px 5px 0px;margin-top:-3px;box-shadow:0 0 10px #ccc;margin-top:-7px;background:#2b7da1;}
.searchBtn:active{background:#0c3375;color:white;}
.suggestionBox{display:none;background-color:white;color: #3b3835;border:1px solid rgba(0,0,0,0.3);border-top:0;float:left;left:0;margin-left:35%;list-style:none;padding:8px;position:absolute;top:50px;width:50%;z-index:1000;-webkit-border-radius:4px;-moz-border-radius: 4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);box-shadow: 0 1px 3px rgba(0,0,0,0.25);}
.suggestionBox li{width:100%;padding:1px;cursor:pointer;}
.suggestionBox li:hover{width:100%;padding:1px;background:#2b7da1;box-shadow:inset 0 0 3px #2b7da1;color:#fff;border:2px solid #2b7da1;}
.suggestionBox:before{content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom:7px solid #fff;position: absolute;top: -7px;left: 9px;}
.searchForm:nth-child(2){background-color:#fff;}
.searchForm:nth-child(2) .suggestionBox{background:skyblue;color:white;}
.searchForm:nth-child(2) .suggestionBox::before {border-bottom: 7px solid skyblue;}
.searchForm:nth-child(3){background-color:gray;}
.searchForm:nth-child(3) .suggestionBox{background:beige;color:black;}
.searchForm:nth-child(3) .suggestionBox::before {border-bottom: 7px solid beige;}
.searchForm:nth-child(4){background-color:#333;}
.searchForm:nth-child(4) .suggestionBox{background:#859ce6;color:white;}
.searchForm:nth-child(4) .suggestionBox::before {border-bottom: 7px solid #859ce6;}
	.form-search{position:absolute;width:40%;background:none;left:27%;top:15%;}
  .ul-lix{width:200px;height:40px;position:absolute;top:20%;right:2%;}
  .ul-lix li{float:right;color:;margin-left:5px;height:20px;text-align:center;}
  .ul-lix li a{color:#0f1bc1;font-size:19px;background:red;padding:5px;
    box-shadow:0px 0px 5px #787878;background:#212F3C;color:white;border-radius:50% 50% 50% 0px;}
  .ul-lix li:hover a{font-size:20px;}
  .ul-lix li:active a{font-size:20px;background:#2b7da1;padding:3px;border-radius:2px;color:white;}
  .ul-lix li:hover .drop-down-li{display:block;}
.red-top{color:#2b7da1;padding:2px;height:2px;}
.p-top{color:white;}
.bars-top{font-size:22px;text-align:center;padding:9px;background:#2b7da1;margin-top:7px;
	margin-left:4px;cursor:pointer;z-index:10000000;color:white;display:none;}
  #barbarbar{display:none;}
.bars-top:focus{}
.bars-top:active{background:#2b7da1;color:white;}
#tops{background:white;width:82%;min-height:60px;margin-left:18%;transition:1s;position:relative;box-shadow:0 0 5px #ccc;}



/*index* //////////////////////////////////*/
.contents-inner{width:100%;background:#F8F4F5;transition:1s;}
.contents{width:80%;transition:1s;position:relative;left:19%;padding:5px;}
.li-breaker{}
.header-li{font-weight:bold;text-align:center;padding:5px;color:white;}
.imglogoty{width:120px;height:80px;margin-left:10%;}
.imglogo{width:80px;height:80px;margin-left:30%;border-radius:100%;border:2px solid #5642af;
	margin-top:30px;}
.sidebar{display:block;float:left;width:18%;background:#333;padding:0px;min-height:754px;height:auto;z-index:100000000;
	opacity:0.9;box-shadow:0 0 5px #383838;position:fixed;left:0px;top:0px;}
.sidebar-nav{}
.sidebar-nav ul{padding:0;margin:0;list-style:none;}
.sidebar-nav a, .sidebar-nav a:hover,.sidebar-nav a:focus, .sidebar-nav a:active {outline: none;}
.sidebar-nav ul li, .sidebar-nav ul a {display:block;}
.sidebar-nav ul li{background-color:#0c52f4;}
.sidebar-nav ul a{padding: 10px 20px;color:white;border-top: 1px solid rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 0px #2474ad inset;text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);text-decoration:none;}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus, .sidebar-nav ul a:active{color: #fff;text-decoration: none;}
.sidebar-nav ul ul a{background-color:#0b0be5}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active{background-color: rgba(255, 255, 255, 0.2);}
#rtlh3 small{transform:rotateY(180deg);display:inline-block;}
.dash-widget{width:100%;min-height:150px;border:1px solid #787878;background:white;border-radius:5px;padding:5px;position:relative;display:inline-block;margin-left:3px;margin-bottom:5px;margin-top:3px;}
.dash-widget11{width:100%;min-height:150px;border:1px solid #787878;background:white;border-radius:5px;padding:5px;position:relative;display:inline-block;margin-left:3px;margin-bottom:5px;margin-top:3px;}
.dash-widget3{width:100%;height:auto;border:1px solid #787878;background:white;border-radius:5px;padding:5px;position:relative;display:inline-block;margin-left:3px;margin-bottom:5px;margin-top:3px;}
.widget-title{width:100%;}.widget-content{padding-top:;padding-bottom:10px;margin-top:-5px;font-weight:bold;}
.timev{position:absolute;right:5px;top:5px;background:#BA2E5E;padding:4px;}
.dash-cont{width:98%;}
.best-color{color:#2b7de1;}.ticker{}
.dash-widget2{width:100%;min-height:440px;border:1px solid #787878;background:white;border-radius:5px;padding:5px;position:relative;display:inline-block;margin-left:3px;margin-bottom:5px;}
.uls-acc{width:100%;list-style:none;text-align:left;}
.money-box{padding:10px;background:#9B9899;border:1px solid #383838;font-weight:bold;}
.spantopx{padding:3px;font-weight:bold;font-size:16px;}
.uls-acc li{width:100%;list-style:none;text-align:left;}
.fixed{ position: fixed;top:0; left:0;width: 100%; }
.theary{width:100%;}
.tickerx-img{width:100px;height:40px;}
.upgrades-litle{position:absolute;right:0px;font-size:13px;top:25px;}
.theary thead{font-weight:bold;}
.strng{padding:2px;border:1px solid #383838;background:#787878;}
.dash-one-cont{width:100%;position:relative;height:auto;}
.TR-2{background:#502B38;color:white;border:1px solid #381F27;}
.money-box2{background:#ccc;padding:15px;padding-left:40%;padding-right:35%;font-size:18px;font-weight:bold;border:1px solid #787878;text-align:center;}
.pincode-table{min-width:50%;max-width:100%;height:auto;border-collapse:collapse;border:0px solid #ddd;text-align:center;}
.pincode-table thead{height:40px;font-weight:bold;}
.pincode-table td{border:1px solid #ccc;font-size:14px;}
.pincode-table tr:nth-child(even){background:#ddd;}
.pincodesx{overflow-x:hidden;overflow-y:auto;padding-bottom:7px;}
.addAcc{min-height:30px;background:#E74C3C;padding:5px 30px;color:white;border:1px solid #641E16;border-radius:5px;}



/*BREADCUMBS*/
.breadcrumb{display:inline-block;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);overflow: hidden;counter-reset:flag;padding:2px;width:100%;}
.breadcrumb a{text-decoration:none;outline:none;display:block;float:left;font-size:12px;line-height:36px;color:white;padding:0 10px 0 60px;background:#666;background: linear-gradient(#666, #333);position: relative;}
.breadcrumb a:first-child{padding-left:46px;}
.breadcrumb a:first-child:before{left:14px;}
.breadcrumb a:last-child {padding-right: 20px;}
.breadcrumb a.active, .breadcrumb a:hover{background:#333;background:linear-gradient(#333, #000);}
.breadcrumb a.active:after, .breadcrumb a:hover:after{background:#333;background: linear-gradient(135deg, #333, #000);}
.breadcrumb a:after {content:'';position:absolute;top:0; right: -18px;
  width:36px;height:36px;transform: scale(0.707) rotate(45deg);
  z-index: 1;background: #666;background: linear-gradient(135deg, #666, #333);border-radius: 0 5px 0 50px;}
.breadcrumb a:last-child:after {content:none;}
.breadcrumb a:before {content:counter(flag);counter-increment:flag;
  width:20px;text-align:center;height:20px;line-height:20px;margin:8px 0;position:absolute;top:0;left:30px;background:#444;background:linear-gradient(#444,#222);font-weight:bold;}

.flex-cont{display:flex;}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .sidebar{width:70%;display:none;position:fixed;}
#tops{width:100%;z-index:10000;position:fixed;left:0%;margin-left:0%;
  background:#1F2F38;color:white;}
.breadcrumb{margin-top:10px;}
.contents{left:0%;width:100%;top:50px;}
.imglogoty{margin-left:20%;height:70px;}
.imglogo{margin-top:-15px;}
.searchForm{display:none;width:95%;left:2.5%;}
.searchBtn-li{display:block;}
.drop-down-li{width:300px;}
.drop-down-li::before{left:60%;}
.dash-widget{width:100%;}
.ul-lix {position:fixed;top:2%;right:5%;}
.ul-lix li a{color:#0f1bc1;font-size:19px;padding:5px;
    box-shadow:0px 0px 5px #787878;background:#212F3C;color:white;border-radius:50% 50% 50% 0px;}
  .ul-lix li:hover a{font-size:20px;}
.red-top{color:#ed292a;}
.bars-top{position:fixed;top:2.2%;left:1%;display:block;}
#barbarbar{display:block;}
}
@media (min-width:1025px) {
  .sidebar{display:block;}
}


@media (max-width: 576px){
.sidebar{width:70%;display:none;position:fixed;}
#tops{width:100%;z-index:10000;position:fixed;left:0%;margin-left:0%;
	background:#1F2F38;color:white;}
.breadcrumb{margin-top:10px;}
.contents{left:0%;width:100%;top:50px;}
.imglogoty{margin-left:20%;height:70px;}
.imglogo{margin-top:-15px;}
.searchForm{display:none;width:95%;left:2.5%;}
.searchBtn-li{display:block;}
.drop-down-li{width:300px;}
.drop-down-li::before{left:64%;}
.dash-widget{width:100%;}
.ul-lix {position:fixed;top:2%;right:5%;}
.ul-lix li a{color:#0f1bc1;font-size:19px;padding:5px;
    box-shadow:0px 0px 5px #787878;background:#212F3C;color:white;border-radius:50% 50% 50% 0px;}
  .ul-lix li:hover a{font-size:20px;}
.red-top{color:#ed292a;}
.bars-top{position:fixed;top:2.2%;left:1%;display:block;}
#barbarbar{display:block;}
}

.visible{display:none;}.not-visible{margin-left:20%;}

@media print {
    html, body {display:none;}
}

@media (max-width: 576px) {
  .wrap-login100,.wrap-signup {
    padding-left:10px;
    padding-right:10px;box-shadow:0px 0px 0px #ddd;

  }
}



/*New member login*/
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {font-family:trebuchet MS;font-size:14px;line-height:1.5;color:#666666;}
.txt2 {font-family:trebuchet MS;font-size:14px;line-height:1.5;color:#333333;text-transform: uppercase;}
.bg1 {background-color:#3b5998}
.bg2 {background-color:#1da1f2}
.bg3 {background-color:#ea4335}
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.ahref-link{color:#2b7de1;}
footer{background:white;}
.error-label{display:none;width:100%;background:#ed292a;padding:7px;color:white;opacity:0.9;font-weight:normal;}
.limiter {width:100%;margin:0 auto;min-height:90%;background:#ddd;}
.container-login100{width:100%;height:55vh;display:-webkit-box;display:-webkit-flex;display:-moz-box;display: -ms-flexbox;display: flex;
flex-wrap: wrap;justify-content:center;align-items:center;padding:15px;background-repeat: no-repeat;background-position: center;background-size: cover;}
.wrap-signup{width:700px;background:#fff;border-radius:10px;overflow:hidden;border:15px solid white;box-shadow:0 0 2px #787878;}
/*------------------------------------------------------------------[ Form ]*/
.login100-form{width:100%;}
.times-close{width:100%;}
.login100-form-title{display: block;font-family:trebuchet MS;font-size:30px;color: #333333;line-height: 1.2;text-align: center;}
/*------------------------------------------------------------------
[Input]*/
.wrap-input100 {width:100%;position:relative;border-bottom:2px solid #d9d9d9;}
.label-input100 {font-family:trebuchet MS;font-size:15px;color:#383838;line-height:1.5;padding-left:7px;}
.input100 {font-family:trebuchet MS;font-size:14px;color:#333333;line-height: 1.2;display: block;
  width: 100%;height:55px;background:transparent;padding:0 7px 0 43px;}
/*---------------------------------------------*/
.focus-input100 {position:absolute;display:block;width:100%;height:100%;top:0;left:0;pointer-events: none;}
.focus-input100::after{content:attr(data-symbol);font-family:Material-Design-Iconic-Font;
color: #adadad;font-size: 22px;display:-webkit-box;display:-webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;align-items: center;justify-content: center;
  position: absolute;height: calc(100% - 20px);bottom: 0;left: 0;padding-left: 13px;padding-top: 3px;}
.focus-input100::before {content: "";display: block;position: absolute;bottom: -2px;left: 0;width: 0;height: 2px;background: #2b7de1;
  -webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;
  transition: all 0.4s;}
.input100:focus + .focus-input100::before {width:100%;}
.has-val.input100 + .focus-input100::before {width:100%}
.input100:focus + .focus-input100::after {color:#2b7da1;}
.has-val.input100 + .focus-input100::after {color:#2b7da1;}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content: center;}
.wrap-login100-form-btn {width: 100%;display:block;position:relative;z-index:1;border-radius:0px;overflow:hidden;margin:0 auto;
box-shadow:0 0 5px #787878;}
.login100-form-bgbtn {position:absolute;z-index:-1;width:300%;height100%;background:#A9E2F3;background:-webkit-linear-gradient(right,#0174DF,#58ACFA,#0174DF,#58ACFA);background:-o-linear-gradient(right, #0174DF, #fc00ff, #0174DF, #fc00ff);
	background:-moz-linear-gradient(right, #0174DF, #58ACFA, #0174DF, #58ACFA);background:linear-gradient(right,#0174DF, #58ACFA, #0174DF, #58ACFA);top: 0;left: -100%;
	-webkit-transition: all 0.4s;-o-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}
.login100-form-btn {
  font-family: trebuchet MS;font-size: 16px;color: #fff;line-height: 1.2;text-transform: uppercase;
display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;
  display: flex;justify-content: center;align-items: center;padding: 0 20px;width: 100%;height: 50px;}
.wrap-login100-form-btn:hover .login100-form-bgbtn {left: 0;}
/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {position: relative;}
.alert-validate::before {content:attr(data-validate);position:absolute;max-width:70%;background-color:#ed292a;color:white;border:1px solid #c80000;border-radius:2px;padding:4px 25px 4px 10px;bottom:calc((100% - 20px) / 2);-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);right: 2px;pointer-events: none;
font-family: trebuchet MS;font-size: 13px;line-height: 1.4;text-align: left;visibility: hidden;opacity: 0;-webkit-transition: opacity 0.4s;-o-transition: opacity 0.4s;-moz-transition: opacity 0.4s;transition: opacity 0.4s;}
.alert-validate::after {content: "\f06a";font-family: FontAwesome;display: block;position: absolute;color: #ed292a;font-size: 16px;bottom: calc((100% - 20px) / 2);-webkit-transform: translateY(50%);-moz-transform: translateY(50%);-ms-transform: translateY(50%);-o-transform: translateY(50%);transform: translateY(50%);right: 8px;}
.alert-validate:hover:before {visibility: visible;opacity: 1}
@media (max-width: 992px){
  .alert-validate::before{visibility: visible;opacity: 1;}
}
/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {font-size: 25px;color:#fff;
display:-webkit-box;display:-webkit-flex;display:-moz-box;display: -ms-flexbox;display: flex;justify-content: center;align-items: center;width: 50px;height:50px;border-radius:50%;margin:5px;}
.login100-social-item:hover{color:#fff;background-color:#333333;}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100,.wrap-signup {padding-left:10px;padding-right:10px;box-shadow:0px 0px 0px #ddd;}
}
